// Body
$body-bg: #f8fafc;

// Typography

$font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

// Breadcrumbs
$breadcrumb-font-size: 1.6rem;

// Color
$primary: #34a0df;
$danger: #ec5a53;
$success: #82be82;
$dark: #343a40;